<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Instance Configuration-->
    <add key="matrix.agent.id" value="F8F0A449-3DE3-4A74-AF06-7544AC0BA554" />
    <add key="matrix.agent.name" value="Matrix Journal" />
    <add key="matrix.agent.type" value="journal" />
    <!--Database Configuration-->
    <add key="matrix.db.enabled" value="true" />
    <add key="matrix.db.type" value="SqlServer" />
    <add key="matrix.db.url" value="Server=localhost;Database=matrix;User Id=sa;Password=sa;" />
    <!--<add key="matrix.db.type" value="Sqlite" />
    <add key="matrix.db.url" value="Data Source=C:\db\journal.db;BinaryGUID=False;Version=3;" />-->
    <!--Bus Configuration-->
    <add key="matrix.bus.enabled" value="true" />
    <add key="matrix.bus.type" value="RabbitMQ" />
    <add key="matrix.bus.url" value="host=localhost;virtualHost=matrix;username=matrix;password=matrix" />
    <!--Web Configuration-->
    <add key="matrix.web.enabled" value="true" />
    <add key="matrix.web.scheme" value="http" />
    <add key="matrix.web.server" value="localhost" />
    <add key="matrix.web.port" value="4520" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.4.0" newVersion="3.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>