<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="matrix.db.enabled" value="true" />
    <!--<add key="matrix.db.type" value="SqlServer" />
    <add key="matrix.db.url" value="Server=localhost;Database=matrix;User Id=sa;Password=sa;" />-->
    <add key="matrix.db.type" value="Sqlite" />
    <add key="matrix.db.url" value="C:\Temp\Matrix.Agent.Registry.Test.db" />
  </appSettings>
</configuration>