<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Agent Configuration-->
    <add key="matrix.agent.id" value="B67F234A-1B0C-423D-A0A4-768C4EF90145" />
    <add key="matrix.agent.name" value="Matrix Postman" />
    <add key="matrix.agent.type" value="postman" />
    <!--Database Configuration-->
    <add key="matrix.db.type" value="SqlServer" />
    <add key="matrix.db.url" value="Server=localhost;Database=matrix;User Id=sa;Password=sa;" />
    <!--Bus Configuration-->
    <add key="matrix.bus.type" value="RabbitMQ" />
    <add key="matrix.bus.url" value="host=localhost;virtualHost=matrix;username=matrix;password=matrix" />
    <!--Web Configuration-->
    <add key="matrix.web.enabled" value="true" />
    <add key="matrix.web.scheme" value="http" />
    <add key="matrix.web.server" value="localhost" />
    <add key="matrix.web.port" value="4520" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>