<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Agent Configuration-->
    <add key="matrix.agent.id" value="E1758282-F60A-497F-9D7D-EA4F41C58B64" />
    <add key="matrix.agent.name" value="Matrix CLI" />
    <add key="matrix.agent.type" value="cli" />
    <!--Bus Configuration-->
    <add key="matrix.bus.enabled" value="true" />
    <add key="matrix.bus.type" value="RabbitMQ" />
    <add key="matrix.bus.url" value="host=localhost;virtualHost=matrix;username=matrix;password=matrix" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>